<div class="person-container" *ngIf="person$ | async as person">
  <div class="card">
    <div class="card-body bg-light">
      <h4 class="card-title">{{person.name}} ({{person.username}})</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Username:</b>&nbsp;{{person.username}}</li>
      <li class="list-group-item"><b>Email:</b>&nbsp;{{person.email}}</li>
      <li class="list-group-item"><b>Phone:</b>&nbsp;{{person.phone}}</li>
      <li class="list-group-item"><b>Website:</b>&nbsp;{{person.website}}</li>
      <li class="list-group-item"><b>Company:</b>&nbsp;{{person.company.name}}</li>
      <li class="list-group-item"><b>Address:</b>&nbsp;
        {{person.address.city}}, {{person.address.street}} {{person.address.suite}},
      </li>
    </ul>
    <div class="card-body">
      <a href="//{{person.website}}" target="_blank" class="card-link">Website</a>
    </div>
  </div>
</div>
